<main role="main" class="flex-shrink-0">
  <button type="button" class="btn btn-danger btn-lg">Panic Button</button>
  <div class="container">
    <h1 class="mt-5">{{ main.title }}</h1>
    <p class="lead">{{ main.lead }}</p>
  </div>
</main>