<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    {{#each scrollers}}
    <a class="nav-link {{#if active}}active{{/if}}" href="{{ url }}">{{ label }}
      {{#if badge.show}}
      <span class="badge badge-pill align-text-bottom {{ badge.style }}">{{ badge.value }}</span>
      {{/if}}
    </a>
    {{/each}}
  </nav>
</div>