<!DOCTYPE html>
<html lang="en">
    <head>
        {{> header }}
    </head>
    <body>
        <header>
            {{> navbar }}
        </header>
        {{ message }}
        {{> scripts }}
    </body>
</html>